* {
  box-sizing: border-box;
}

.books {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
}

.showBooks {
  border: 2px solid #000;
}

hr {
  width: 60px;
  padding-top: 2px;
  background-color: #000;
}

table {
  font-family: 'Times New Roman', Times, serif;
  border-collapse: collapse;
  width: 700px;
}

th {
  font-weight: bold;
}

tr:nth-of-type(odd) {
  background-color: gainsboro;
}

tr:nth-of-type(even) {
  background-color: #fff;
}

tr {
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.add-btn {
  border: none;
  background: none;
  outline: #000 2px solid;
  box-shadow: 4px 5px rgb(70, 68, 68);
  padding: 3px 6px;
}

.delete {
  border: none;
  background: none;
  outline: #000 2px solid;
  box-shadow: 4px 5px rgb(53, 52, 52);
  padding: 3px 6px;
}
